.App {
  text-align: center;
  & > .buttons {
    margin: 1rem auto;
    & button.sort-button{
      padding: 1em;
      border: none;
      text-decoration: none;
      background-color: #009de0;
      color: white;
      display: inline-block;
      font-size: 16px;
      &.default {
        background-color: #009de0;
      }
      &.asc {
        background-color: teal;
      }
      &.des {
        background-color: red;
      }
    }
  }
}
